@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border border-gray-300 rounded-md shadow-sm py-2 px-4 block w-1/2 sm:text-sm w-full;
  @apply mb-2;
}

input:focus,
textarea:focus {
  @apply focus:ring-indigo-500 focus:border-indigo-500;
}

h1 {
  @apply mb-4 text-xl;
}

.btn-primary {
  @apply bg-gray-600 hover:bg-black text-white font-bold py-2 px-4 rounded;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-gray-100 border border-gray-300;
}

table.basic tr td {
  @apply border border-gray-300 px-3 py-2;
}

table.basic a {
  @apply bg-gray-600 hover:bg-black text-white px-2 py-2 rounded inline-flex gap-1;
}
